#main{
  background-color: whitesmoke;
  width: 80%;
  text-align: center;
  border-radius: 20px;
}
/*p{
  font-size: 23px;
}*/
h1{
  font-size: 40px;
}
.startButton{
  font-size: 20px;
  border-radius: 10px;
}
